$title-font: 'U8', serif; 
$body-font:"DM Sans", serif;
$title-color:#1b1c20;
$body-text-color:#383A47;
$text-white:#fff;
$light-bg:#f8f8fa;
$orange-bg:#fb8e0b;
$white-bg-btn:#fff;
$white-bg:#fff;
$btn-primary:#fb8e0b;
$dark-org:#FD6003;
$light-text:#797B89;